body {
    background-size: cover;
}

.heading {
    width: 98%;
    margin-top: 0;
    font-size: 21px;
}

span {
    font-size: 15px;
}
.disk-1{
    width:150px;
    border-radius: 50px;
}
.speed_div{
    float:left;
    margin-left:20px;
}
.volume_div{
    float:right;
    margin-right:20px;
}
.play{
    padding:2px;
    font-size:20px;
    width:100px;
}
canvas{
    border-radius:35px;
    border:3px dashed red;
    box-shadow: 7px 7px 1px red;
}